/***********
 * GENERAL *
 ***********/

body {
  margin: 0px;
  padding: 0px;
  color: #7a7a7a;
  background: #eee;
  font-family: "Helvetica Neue", "Helvetica", "Verdana", "Arial", "sans-serif";
  font-size: 13px;
  text-shadow: 1px 1px 0px white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 24px 0 12px;
  color: #4a4a4a;
  background: transparent;
  font-family: "Trebuchet MS", "Helvetica", "Verdana", "Arial", "sans-serif";
}

h1 {
  font-size: 19px;
}

h2 {
  font-size: 15px;
}

p {
  text-align: justify;
}

img {
  border: none;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  color: #4f4f4f;
}

::selection {
  text-shadow: none;
  color: white;
  background: #4F4F4F;
}

::-moz-selection {
  text-shadow: none;
  color: white;
  background: #4F4F4F;
}


/**********
 * HEADER *
 **********/

#header {
  background: #1f1f1f url(images/background-header.png) repeat center top;
}

#header-inner {
  height: 510px;
  position: relative;
  background: transparent url(images/background-header-inner.png) no-repeat center bottom;
}

#header-top {
  height: 80px;
  background: transparent url(images/background-header-top.png) repeat-x left top;
}

#header-top ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 75px;
}

#header-top li {
  margin: 0 0 0 35px;
  display: inline;
}

#header-top a {
  -webkit-mask-image: -webkit-gradient(linear, left top,left bottom, from(rgba(0, 0, 0, 1)), to(rgba(1, 1, 1, .2)));
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0px 0px 4px #333;
  color: white;
  font-size: 14px;
}

#header-display {
  position: relative;
  width: 980px;
  height: 390px;
  margin: 0 auto;
  z-index: 1;
}

#header-display-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 980px;
  height: 390px;
  background: transparent;
}

#header-display-slogan {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 450px;
  height: 320px;
  padding: 0px 0 0;
  color: #6f6f6f;
}

#header-display-slogan h1 {
  -webkit-mask-image: -webkit-gradient(linear, left top,left bottom, from(rgba(0, 0, 0, 1)), to(rgba(1, 1, 1, .2)));
  text-shadow: 0px 0px 4px black;
  font-family: "Lucida Grande";
  font-weight: bold;
  font-size: 28px;
  z-index: 2;
  color: white;
  letter-spacing: 1px;
  margin-top: 0;
}

#header-display-slogan p {
  -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(rgba(1, 1, 1, 0.496094)));
  color: #bbb;
  text-shadow: 0px 0px 4px black;
  font-family: "Lucida Grande";
  font-weight: bold;
  font-size: 12px;
  z-index: 2;
}

#header-display-logo {
  background: none!important;
  position: absolute;
  top: 30px;
  right: -10px;
  width: 490px;
  height: 340px;
  padding: 10px;
}


/********
 * MAIN *
 ********/

#main {
  width: 980px;
  margin: 0 auto;
  clear: both;
}

#content {
  width: 640px;
  float: left;
  padding: 20px 0 40px;
}

#footer {
  width: 640px;
  float: left;
  padding: 40px 0 40px;
  background: transparent url(images/background-footer.png) repeat-x left top;
}

#footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
